<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Qual gato sou eu?</title>
</head>
<body>
    <header>
        <img src="../static/img1.png" alt="logo">
        <h1>Qual gato sou eu? </h1>
    </header>
    <main>
        <div class="container">
            <div class="form">
                <form action="/" method="post">
                    <label>Informe o seu nome</label>
                    <input type="text" name="nome" required/>
                    <button type="submit">Enviar</button>
                </form>

            </div>
            <div class="gato">
                {% if not url_imagem %}
                    <img src="../static/img3.webp" id="gatop">
                {% else %}
                    <img src="{{ url_imagem }}"class="gatos"
                {% endif %}
                <p>{{ nome }}</p>
                {% if erro %}
                    <p>{{ erro }}</p>
                {% endif %}
            </div>
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>